.section-b h1,
.section-b h2,
.section-b h3,
.section-b p {
    color: white;
}

.section-w h1,
.section-w h2,
.section-w h3,
.section-w p {
    color: var(--background);
}

#classic {
    display: none;
    position: relative;
    background-color: var(--background);
    z-index: 3;
    margin-top: 330vh;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtitle {
    position: relative;
    padding: 25px;
}

.paragraph {
    padding: 25px;
    max-width: 768px;
    margin: auto;
}

@media (orientation: portrait) {
    .paragraph {
        text-align: center;
    }
}

.content {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    max-width: 1080px;
    margin: auto;
}

@media (orientation: portrait) {
    .content {
        grid-template-columns: auto;
    }
}

#portal_container2 {
    display: grid;
    position: relative;
    width: 100vw;
    grid-template-columns: 50% 50%;
    align-items: center;
}

@media (orientation: portrait) {
    #portal_container2 {
        grid-template-columns: auto;
        grid-row: auto auto;
    } 
}

#text_container2 {
    font-size: 3vh;
    color: white !important;
    max-width: 250px;
    width: 75%;
    float: right;
}

@media (orientation: portrait) {
    #text_container2 {
        margin: auto;
        float: none;
    }
}

#global_ship_container {
    width: 100vw;
    height: auto;
    display: grid;
    justify-items: center;
}

.ship_container {
    max-width: 500px;
    display: flex;
    align-items: center;
    margin: 0 30px 0 30px;
}

#text_ship {
    font-size: 2vh;
    max-width: 160px;
}

#ai_trigger {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3vh auto auto auto;
    justify-content: space-around;
    align-items: end;
    z-index: 4;
    max-height: 25vh;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
}

.new_services {
    display: grid;
}

.new_services h3 {
    margin: 4vh 0 0 0;
    animation-name: scale_text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes scale_text {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

#lottie_ai {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.step {
    width: 100vw;
    height: auto;
    background-color: var(--background);
}

.triangle-t {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}

.triangle-b {
    width: 100%;
    height: 100%;
    margin-top: -5px;
}

#promises {
    background-color: white;
}

#promises p {
    text-align: center;
}

.lottie {
    height: 50vh;
    margin: auto;
    margin-bottom: -75px;
    margin-top: -50px;
}

.space-w {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: -2px;
}

.subtitle2 {
    position: relative;
    text-align: center;
    margin: auto;
    max-width: 75%;
}

@media (orientation: landscape) {
    .subtitle2 {
        max-width: 768px;
    }
}

.marketing {
    background-color: white;
}

.sample {
    transition: 1s;
    height: 60vh;
}

.sample:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px #333;
}

#moda {
    background-image: url('../resourses/img/portfolio/kelsimariep.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 60vw;
    margin: auto;
    border-radius: 25px;
}

#eventos {
    background-image: url('../resourses/img/portfolio/evento.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 60vw;
    margin: auto;
    border-radius: 25px;
}

#atabey {
    background-image: url('../resourses/img/portfolio/atabey.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 60vw;
    margin: auto;
    border-radius: 25px;
}

#wedding {
    background-image: url('../resourses/img/portfolio/wedding2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 60vw;
    margin: auto;
    border-radius: 25px;
}

@media (orientation: portrait) {
    #wedding {
        background-image: url('../resourses/img/portfolio/wedding1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 60vw;
        margin: auto;
        border-radius: 25px;
    }
}


.tiktok {
    max-width: 400px;
    width: 70%;
    margin: auto;
}

.etrebelle {
    width: 100%;
    max-width: 60vw;
    margin: auto;
    border-radius: 25px;
}

.info {
    width: 75%;
    max-width: 1080px;
    margin: auto;
    text-align: center;
    padding: 50px 0 0 0;
}

.info p {
    font-size: 1rem;
}

.info a {
    color: #bc2a42;
    font-weight: bold;
}

.feed {
    transition: 1s;
    height: 60vh;
}

.feed:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px #333;
}

.space-b {
    width: 100%;
    height: 100px;
    background-color: var(--background);
    margin-top: -2px;
}

#blossom {
    background-image: url('../resourses/img/portfolio/blossom1-instagram.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    max-width: 60vw;
    margin: auto;
    border-radius: 25px;
    border: solid 3px #fe99b7;
}

#isabel_lopez {
    background-image: url('../resourses/img/portfolio/isabel_lopez.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    max-width: 60vw;
    margin: auto;
    border-radius: 25px;
    border: solid 3px #bc2a42;
}

#whatsapp {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url('../resourses/img/whatsapp.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    cursor: pointer;
    animation: turn 3s infinite;
    z-index: 1;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg);
    }
}

#whatsapp-open {
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-height: 500px;
    max-width: 500px;
    width: 90%;
    background-color: #095e54;
    position: fixed;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 3;
}

@media (orientation: portrait) {
    #whatsapp-open {
        top: 25%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

#close_whatsapp {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid 1px black;
    border-radius: 100%;
    margin-left: 100%;
    margin-top: -5%;
    cursor: pointer;
}

.close {
    stroke: black;
    stroke-width: 2;
}

#w_head {
    height: 20%;
    width: 75%;
    padding: 5%;
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 20% auto;
    align-items: center;
    justify-content: left;
}

@media screen and (max-width: 768px) {
    #w_head {
        width: 90%;
    }
}

#w_img {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url('../resourses/img/contacto/kelsi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

#w_name {
    color: white;
    font-family: "Roboto", "sans-serif";
    font-size: 1.5rem;
}

#w_description {
    color: white;
    font-family: "Roboto", "sans-serif";
    font-size: 0.75rem;
}

#container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../resourses/img/contacto/w_bg.svg');
    width: 100%;
    height: 75%;
    border-radius: 0 0 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cheers {
    background-color: white;
    width: 75%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    margin: 20px;
}

#cheers p {
    letter-spacing: unset;
}

#submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 80%;
    height: auto;
    padding: 0 1rem;
    border-radius: 50px;
    margin: 20px;
}

#submit p {
    letter-spacing: unset;
    color: grey;
    font-size: 0.75rem;
}

#send_message {
    width: 50px;
    height: 50px;
    background-image: url('../resourses/img/contacto/send_message.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    animation: bounce2 1s infinite;
}

@keyframes bounce2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        filter: drop-shadow(3px 3px 3px #333);
    }
    100% {
        transform: scale(1);
    }
}

/*New Section IA*/

#ai {
    display: none;
    position: relative;
    scroll-snap-align: end;
}

#ai h1,
#ai h2,
#ai h3,
#ai p {
    color: white;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    max-width: 1080px;
    margin: auto;
    padding: 7.5vh 0;
}

@media (orientation: portrait) {
    .content2 {
        grid-template-columns: auto;
        grid-gap: 30px;
    }
}

.content_ai_section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ai_avatar {
    min-height: 20vh;
    width: 100%;
    height: 75%;
    background-image:url("/resourses/img/classic/ia/person.png");
    filter: drop-shadow(15px 15px 5px black);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

@media (orientation: portrait) {
    #ai_avatar {
        background-position: center center;

    }
}

#lottie_avatar {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: -25vh;
}

@media (orientation: portrait) {
    #lottie_avatar {
        margin-right: 0vh;
        margin-left: 0vh;
    }
}

.avatar_samples {
    position: relative;
    min-height: 25vh;
}

@keyframes fade {
    0% { opacity: 1; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
  }

#avatar_sample1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/resourses/img/classic/ia/person_t1.png");
    filter: drop-shadow(20px 20px 10px black);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: fade;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@media (orientation: portrait) {
    #avatar_sample1 {
        background-position: center center;

    }
}

#avatar_sample2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/resourses/img/classic/ia/person_t2.png");
    filter: drop-shadow(20px 20px 10px black);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: fade;
    animation-delay: 3s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@media (orientation: portrait) {
    #avatar_sample2 {
        background-position: center center;

    }
}

#avatar_sample3 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/resourses/img/classic/ia/person_t3.png");
    filter: drop-shadow(20px 20px 10px black);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: fade;
    animation-delay: 6s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@media (orientation: portrait) {
    #avatar_sample3 {
        background-position: center center;

    }
}

#ai_scale {
    min-height: 15vh;
    height: 50%;
    width: 100%;
    background-image:url("/resourses/img/classic/ia/scale_bottle.jpg");
    filter: drop-shadow(15px 15px 5px black);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

@media (orientation: portrait) {
    #ai_scale {
        background-position: center center;

    }
}

#lottie_scale {
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

@media (orientation: portrait) {
    #lottie_scale {
        margin-top: -15vh;
        margin-bottom: -15vh;
        padding: 35%;
    }
}

#ai_scale2 {
    min-height: 25vh;
    height: 100%;
    width: 100%;
    background-image:url("/resourses/img/classic/ia/bottle.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(30px 30px 10px black);
    z-index: 1;
}

@media (orientation: portrait) {
    #ai_scale2 {
        background-position: center center;

    }
}

.content3 .content_ai_section {
    display: block;
}

.content3 {
    position: relative;
    min-height: 45vh;
    display: block;
    max-width: 1080px;
    margin: auto;
    padding: 7.5vh 0;
}

@media (orientation: portrait) {
    .content3 {
        margin: 20px;
    }
}

#ai_colorize {
    position: absolute;
    min-height: 30vh;
    width: 100%;
    background-image:url("/resourses/img/classic/ia/black_white.jpg");
    filter: drop-shadow(30px 30px 10px black);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#lottie_colorize {
    position: absolute;
    display: block;
    max-width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: 25vh;
    z-index: 2;
}

#ai_colorize2 {
    position: absolute;
    min-height: 30vh;
    width: 100%;
    background-image:url("/resourses/img/classic/ia/colorize.jpg");
    filter: drop-shadow(30px 30px 10px black);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content4 {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 60vh;
    max-width: 1080px;
    margin: auto;
    padding: 7.5vh 0;
}

#ai_transform {
    position: absolute;
    min-height: 45vh;
    width: 100%;
    background-image:url("/resourses/img/classic/ia/transform1.png");
    filter: drop-shadow(30px 30px 10px black);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#ai_transform2 {
    position: absolute;
    min-height: 45vh;
    width: 100%;
    background-image:url("/resourses/img/classic/ia/transform2.jpg");
    filter: drop-shadow(30px 30px 10px black);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    animation-name: fade2;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

#lottie_transform {
    position: absolute;
    display: block;
    max-width: 200px;
    left: 35%;
    margin-left: -100px;
    margin-top: -10vh;
    z-index: 2;
}

@keyframes fade2 {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }