/**Importing Fonts**/

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --main_color: #027f71;
  --second_color: #444;
  --background_color: #fdfbe6;
  --text: #808080;
}

h1 {
  font-family: "Encode Sans Condensed", Sans-serif;
  color: var(--main_color);
  font-weight: 500;
  font-size: 45px;
  text-align: center;
  max-width: 750px;
  margin: 0px auto 50px auto;
}

h2 {
  font-family: "Encode Sans Condensed", Sans-serif;
  font-size: 25px;
  text-align: center;
  color: var(--main_color);
}

h3 {
  font-family: "Encode Sans Condensed", Sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  padding: 5px;
  margin: 0;
  color: white;
}

@media only screen and (max-width: 768px) {
  h1, h2, h3, h4 {
    transform: scale(0.75);
  }
}


h5 {
  /* color: black; */
  font-family: "Encode Sans", Sans-serif;
  font-weight: lighter;
  font-size: 19px;
  line-height: 25px;
}

p {
  font-family: "roboto", sans-serif;
  line-height: 25px;
  color: var(--text);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.4px;
}

li {
  font-family: "roboto", sans-serif;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: -5px;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

hr {
  width: 50%;
  max-width: 768px;
  height: 2px;
  background-color: lightgrey;
  border: none;
}

/* td:nth-child(even) {
  background-color: #e495e4;
} */